<html>

<head>
    <title>Movies</title>
</head>
<body>
    <h2>What would you like to see?</h2>
    <% movies.forEach(function(movie) { %>
    <div>
        <img width="150" height="150"  src="<%= movie.Poster %>"/>
        <a href="/movies/<%= movie.ID.cineWorld%>/<%= movie.ID.filmWorld%>/"><%= movie.Title %> 
            (<%= movie.Year%>)
        </a>
    </div>
    <% });%>
</body>

</html>