    <md-card md-theme="default">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline"><%= movie.Title %> (<%= movie.Year%>)</span>
            <span class="md-subhead">
                Rating: <%= movie.Rating %> &nbsp;
                Release Date: <%= movie.Released %><br/>
            </span>
          </md-card-title-text>
            <md-card-title-media>
            <div class="md-media-lg card-media">
                <img style="width:150px; height:150px" ng-src="<%= movie.Poster %>" class="md-card-image" alt="<%= movie.Title %>">
            </div>
          </md-card-title-media>
        </md-card-title>
        <md-card-content>
            <p>
                <br/>
                Total Running Time: <%= movie.Runtime %><br/>
                Genre: <%= movie.Genre %><br/>
                Director: <%= movie.Director %><br/>
                Actors: <%= movie.Actors %><br/>
                Plot: <%= movie.Plot %><br/>
                Awards: <%= movie.Awards %><br/>
                Language: <%= movie.Language %><br/>
            </p>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
            <% if (movie.Price.cineWorld) { %>
                <md-button class="md-primary">Cine World : $<%= movie.Price.cineWorld %></md-button>
            <% } %>
            <% if (movie.Price.filmWorld) { %>
                <md-button class="md-primary">Film World : $<%= movie.Price.filmWorld %></md-button>
            <% } %>
          
        </md-card-actions>
    </md-card>
